body {
	margin: 0;body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.5em;
	color: darkgoldenrod;
	font-family: Arial;/* Relleno superior igual a la altura de la cabecera*/
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, red, lightgoldenrodyellow, darkgoldenrod,black);
	background-size: 300% 300%;
	position: relative;
	animation: cambiar 8s ease infinite;
}
@keyframes cambiar{

	80%{background-position: 40% 50%;}	
	90%{background-position: 40% 30%;}
	80%{background-position: 40% 50%;}
}

.dx {
	height: 0px;
	width: 0px;
}

@charset "utf-8";
nav{
    display:grid;
    grid-template-columns: 1fr auto;
    border-style: solid;
    border-radius: 30px;
    background: #FFFFFF;
    font-family: sans-serif;
    position: relative;
    opacity: 1;
}
ul {
	text-align: center;
}
li {
	margin-right: 50px;
	margin-left: 50px;
	display: inline-block;
}
.xd {
	height: 50px;
}

#proyecto { 
	text-align: center;
	background-color: #EFE4C1;
	border-left-width: 15px;
	border-radius: 50px;

	border-top-left-radius: 130px;
	border-top-right-radius: 130px;

	border-bottom-left-radius: 130px;
	border-bottom-right-radius: 130px;
	border-style: solid;

}
#sobre-nosotros { 
	position: static;
	margin-right: 100px;
	margin-left: 100px;
	padding-left: 30px;
	text-align: center;
	margin-bottom: auto;
	background-color: #EFE4C1;
	border-left-width: 15px;
	border-right-width: 15px;
	border-radius: 50px;
	border-bottom-left-radius: 80px;
	border-bottom-right-radius: 80px;
	border-style: solid;
}
img {
	border-width: 2px;
	border-style: solid;
	border-color: #EEE;
}
a {
	color: darkgoldenrod;
}
#main-container {
	margin: 50px auto;
	width: 600px;
}

table {
	color: black;
	background-color: #246355;
	text-align: center;
	border-collapse:  collapse;
	width: 100%;
}
th {
	width: 40px;
	padding: 30px;
}
td {
	padding: 20px;
}
thead {
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}
tr:nth-child(even) {
	background-color: #ddd
}
#tr1 {
	color: white;
}
#tr2 {
	background-color: white;
}

#contacto {
	border-style: solid;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: #E7DCB8;
	padding-bottom: 0.8%;
}
footer	{
	margin-left: 20px;
}body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.5em;
	color: darkgoldenrod;
	font-family: Arial;/* Relleno superior igual a la altura de la cabecera*/
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, red, lightgoldenrodyellow, darkgoldenrod,black);
	background-size: 300% 300%;
	position: relative;
	animation: cambiar 8s ease infinite;
}
@keyframes cambiar{

	80%{background-position: 40% 50%;}	
	90%{background-position: 40% 30%;}
	80%{background-position: 40% 50%;}
}

.dx {
	height: 0px;
	width: 0px;
}

@charset "utf-8";
nav{
    display:grid;
    grid-template-columns: 1fr auto;
    border-style: solid;
    border-radius: 30px;
    background: #FFFFFF;
    font-family: sans-serif;
    position: relative;
    opacity: 1;
}
ul {
	text-align: center;
}
li {
	margin-right: 50px;
	margin-left: 50px;
	display: inline-block;
}
.xd {
	height: 50px;
}

#proyecto { 
	text-align: center;
	background-color: #EFE4C1;
	border-left-width: 15px;
	border-radius: 50px;

	border-top-left-radius: 130px;
	border-top-right-radius: 130px;

	border-bottom-left-radius: 130px;
	border-bottom-right-radius: 130px;
	border-style: solid;

}
#sobre-nosotros { 
	position: static;
	margin-right: 100px;
	margin-left: 100px;
	padding-left: 30px;
	text-align: center;
	margin-bottom: auto;
	background-color: #EFE4C1;
	border-left-width: 15px;
	border-right-width: 15px;
	border-radius: 50px;
	border-bottom-left-radius: 80px;
	border-bottom-right-radius: 80px;
	border-style: solid;
}
img {
	border-width: 2px;
	border-style: solid;
	border-color: #EEE;
}
a {
	color: darkgoldenrod;
}
#main-container {
	margin: 50px auto;
	width: 600px;
}

table {
	color: black;
	background-color: #246355;
	text-align: center;
	border-collapse:  collapse;
	width: 100%;
}
th {
	width: 40px;
	padding: 30px;
}
td {
	padding: 20px;
}
thead {
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}
tr:nth-child(even) {
	background-color: #ddd
}
#tr1 {
	color: white;
}
#tr2 {
	background-color: white;
}

#contacto {
	border-style: solid;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: #E7DCB8;
	padding-bottom: 0.8%;
}
footer	{
	margin-left: 20px;
}
	padding: 0;
	font-size: 1em;
	line-height: 1.5em;
	background-color: #252937;
	color: white;
	font-family: Arial;
	padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}




@charset "utf-8";
nav{
    display:grid;
    grid-template-columns: 1fr auto;
    align-items: right;
    background: #222;
    font-family: sans-serif;
    position:fixed;
    top:0;
    width:100%;
    }
}
#colugnattis {
	align-items: center;
	text-align: center;
}
nav .logo{
	text-align: center;
    font-size: 24px;
    font-weight:black;
    }
nav .barnav{;
    grid-template-columns: repeat(4,auto);
    margin-right: 30px;
    }
nav .barnav div{
    padding: 10px 20px;
    }
nav .barnav div:hover{
    cursor: pointer;
    background:#CDDC39;
    }
ul {
	text-align: center;
}
li {
	text-align: left;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding: 10px;
}




#proyecto {
	text-align: center;
}

img {
	border-width: 2px;
	border-style: solid;
	border-color: #EEE;
}
a {
	color: white;
}
#main-container {
	margin: 50px auto;
	width: 600px;
}

table {
	color: black;
	background-color: #246355;
	text-align: center;
	border-collapse:  collapse;
	width: 100%;
}
th {
	width: 40px;
	padding: 30px;
}
td {
	padding: 20px;
}
thead {
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}
tr:nth-child(even) {
	background-color: #ddd
}
#tr1 {
	color: white;
}
#tr2 {
	background-color: white;
}

#contacto {
	height: 65px;
	left: 0;
	top: 0;
	position:;

	background-color: #222;
	padding-bottom: 0.8%;
}
